<h1 class="artwork-category-title">{{model.category.name}}</h1>
{{#if model.category.categoryDescription}}
  <div class="artwork-category-image clear-fix">
    <img src="{{model.category.categoryDescription}}" alt="{{model.category.name}}" />
  </div>
{{/if}}

{{partial 'partials/artwork-thumbnails'}}
