<ul class="art-thumbs large-block-grid-4 medium-block-grid-3 small-block-grid-1">
  {{#each art in artwork}}
    <li {{action 'linkToArtModal' art}}>
      {{!#link-to 'artwork.category.show' art.slug}}
        <img {{bind-attr src='art.thumbnail.url' alt='title'}} />
      {{!/link-to}}
      <p class="art-thumb-title">
        {{!#link-to 'artwork.category.show' art.slug}}
          <a href="#">{{art.title}}</a>
        {{!/link-to}}
      </p>
    </li>
  {{/each}}
</ul>
