<ul class="large-block-grid-2 small-block-grid-1">
  {{#each model.bookPages as |bookPage|}}
    <li>
      <a href="#" {{action 'linkToArtModal' bookPage}}>
        <img src="{{bookPage.thumbnail.url}}" alt="{{bookPage.title}}" />
      </a>
    </li>
  {{/each}}
</ul>
