<ul class="large-block-grid-2 small-block-grid-1">
  {{#each model.bookPages as |bookPage|}}
    <li>
      {{!#link-to 'books.show.bookPage' bookPage.slug}}
        <a href="#" {{action 'linkToArtModal' bookPage}}>
          <img {{bind-attr src='bookPage.thumbnail.url' alt='bookPage.title'}} />
        </a>
      {{!/link-to}}
    </li>
  {{/each}}
</ul>
